<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<dcafs>
    <settings>

    </settings>
    <databases hint="Connect to sqlite files and/or sql servers">
        <server id="!" type="mssql,mysql,mariadb,postgres">
            <address>!</address>
            <flush age="30s" batchsize="30"/>
            <idleclose hint="After how much idle time the connection is closed">-1</idleclose>
            <table name="!">
                <int alias="?">!</int>
                <real alias="?">!</real>
            </table>
        </server>
        <sqlite id="!" path="db/{id}.sqlite">
            <flush hint="Flush settings" age="30s" batchsize="30"/>
            <idleclose  hint="After how much idle time the connection is closed">5m</idleclose>
            <table cf="opt" name="*">
                <int alias="?">!</int>
                <real alias="?">!</real>
            </table>
        </sqlite>
    </databases>
    <streams hint="Connect to tcp,udp server and serial/tty devices">
        <stream id="!" type="tcp,udp">
            <address>ip:port</address>
            <label regex="void|.*:.*">void</label>
            <eol>crlf</eol>
            <ttl hint="period till considered idle fe.1s (-1 is never)">-1</ttl>
            <log hint="log raw data?" regex="yes|no">yes</log>
            <cmd cf="opt,mul" when="open,!idle,idle,closed">?</cmd>
            <write cf="opt,mul" when="hello,wakeup">?</write>
        </stream>
        <stream id="!" type="serial,modbus">
            <port hint="fe. COM5, ttyS1" regex="COM\d+|tty.+">!</port>
            <label regex="void|.*:.*">void</label>
            <serialsettings hint="baudrate,db,sb,parity" regex="\d{3,},[78],[012],(none|odd|even)">19200,8,1,none</serialsettings>
            <eol hint="the end of a message">crlf</eol>
            <ttl hint="period till considered idle fe.1s (-1 is never)">-1</ttl>
            <log hint="log raw data?" regex="yes|no">yes</log>
            <cmd cf="opt,mul" when="open,!idle,idle,closed">?</cmd>
            <write cf="opt,mul" when="hello,wakeup">?</write>
        </stream>
    </streams>
    
    <filters hint="Alter received data with filtering">
        <filter id="!" src="!">
            <rule type="start">?</rule>
            <rule type="nostart">?</rule>
        </filter>
    </filters>
    <editors hint="Alter received data with string operations">
        <editor id="!" src="!" label="">
            <edit type="start">?</edit>
            <edit type="nostart">?</edit>
        </editor>
    </editors>
    <maths hint="Alter received data with math operations">
        <math id="!" src="!" delimiter="," label="">
            <op cf="opt,mul" hint="Calculation with format i0=i1+5"></op>
        </math>
    </maths>
</dcafs>